mixin asideNav()
	.col-md-3
		aside.affix-top(role='complementary')
			ul.nav.nav-pills.nav-stacked(style='max-width:300px;')
				li.active
					a(href='/jsRules') javascript 开发规范
				li 	
					a(href='/jsLib') javascript 公用库
				li
					a(href='/plugins') plugins 使用文档