mixin content()
	main.col-md-9(role='main')
		.bs-docs-section
			.page-header(style='margin-top:-20px;')
				h2 javascript 规范
				p.lead(style='font-size:18px;')
					javascript 开发规范 详细说明
				.bs-example
					样式示例
				.highlight
					pre
						code.html
							span.nt='<div>'