mixin nav()
	.navbar.navbar-fixed-top
		.container
			a.navbar-brand(href='#') KMM
			button.navbar-toggle(type='button',data-toggle='collapse',data-target='#navbar-main')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			.nav-collapse.collapse(id='navbar-main')
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown') News
							span.caret
						ul.dropdown-menu(aria-labelledby='themes')
							li
								a(tabindex='-1',href='#') Defalut
							li.divider
							li
								a(tabindex='-1',href='#') Timeline
				ul.nav.navbar-nav.pull-right
					li
						a(href='#',target='') About Me
					li
						a(href='#') Cool things